Input: FCB974
- Using lab and change the l:
0 = #1a1a1a
1 = #fea6d4
2 = #97d66e
3 = #e6b985
4 = #feb063
5 = #e5ba8f
6 = #fcb974

0 = #1a1a1a
1 = #cc336c
2 = #97d66e
3 = #e8b882
4 = #feb132
5 = #ebb884
6 = #fcb974

0 = #1a1a1a
1 = #ff8ebc
2 = #97d66e
3 = #e6b985
4 = #ffaf62
5 = #e5ba8f
6 = #fcb974

0 = #1a1a1a
1 = #ff8fbe
2 = #97d66e
3 = #e8ba87
4 = #ffb063
5 = #e8bd91
6 = #fcb974

- Using Lch and change the l:

- Using Hsl and change the l:

- Using OKLCH and change the l:

- `dms` output:
palette = 0=#1a1a1a
palette = 1=#e54c80
palette = 2=#97d66e
palette = 3=#dbae7b
palette = 4=#bd742a
palette = 5=#bd946b
palette = 6=#FCB974
palette = 7=#abb2bf
palette = 8=#5c6370
palette = 9=#e05f8f
palette = 10=#a9e086
palette = 11=#e8c297
palette = 12=#ffc98e
palette = 13=#b36945
palette = 14=#967641
palette = 15=#ffffff
